@model ConnextBusinessLayer.Bdd.GROUP

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GROUP</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LABEL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LABEL)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_GROUP }) |
    @Html.ActionLink("Back to List", "Index")
</p>
