
<h2 class="bs-docs-featurette-title">Back Office + BDD Manage</h2>

<hr class="half-rule">

<div class="row">
    <div class="col-sm-4">
        <h3><a href="~/user">User</a></h3>
    </div>
    <div class="col-sm-4">
        <h3><a href="~/Agency">Agency</a></h3>
    </div>
    <div class="col-sm-4">
        <h3><a href="~/Group">Group</a></h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <h3><a href="~/Publication">Publication</a></h3>
    </div>
    <div class="col-sm-4">
        <h3><a href="~/Category">Category</a></h3>
    </div>
    <div class="col-sm-4">
        <h3><a href="~/Travel">Travel</a></h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <h3><a href="~/RequestTravel">Request for Travel</a></h3>
    </div>
    <div class="col-sm-4">
        <h3><a href="~/Action">Request Action</a></h3>
    </div>
</div>


<hr class="half-rule">

<p class="lead">Hosted on Azure.</p>


