<div class="jumbotron">
    <h1>Connext</h1>
    <p class="lead">Connext is a Hardis's social network project realised by (some) INSA de Lyon's students.</p>
    <p><a href="http://insa-lyon.fr" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Hassan El Moutaraji</h2>
        <p>Project manager. Android Developper</p>
    </div>
    <div class="col-md-6">
        <h2>Maha Benabbou</h2>
        <p>Android Developper.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Marine Martin</h2>
        <p>Back-end.</p>
    </div>
    <div class="col-md-6">
        <h2>Minh Hoang Trinh</h2>
        <p>Back-end.</p>
    </div>
</div>
