
<h2 class="bs-docs-featurette-title">REST API</h2>
<p class="lead">This is the back-end. Project implement with ASP.NET Web API + Entity Framework.</p>

<hr class="half-rule">

<div class="row">
    <div class="col-sm-4">
        <h3>User</h3>
        <p>public class <b>UserModel</b><br />
        {<br />
            int Id <br />
            string FirstName <br />
            string Lastname <br />
            string Email <br />
            string Password <br />
            <b>AgencyModel</b> Agency<br />
            string Description<br />
        }<br />
        </p>
        <p>What you can do : <br />Try <br /><b>GET</b> /api/users/ <br /><b>GET</b> /api/users/{id-here} <br /><b>POST</b> /api/users/ with JSON Object</p>
        <p><b>Remember : token in Authorization Header</b></p>
</div>
    <div class="col-sm-4">
        <h3>Agency</h3>
        <p>
        public class <b>AgencyModel</b><br />
        {<br />
            int Id <br />
            string Name <br />
            decimal Latitude <br />
            decimal Longitude <br />
        }<br /><br /><br /><br />
        </p>
        <p>What you can do : <br />Try <br /><b>GET</b> /api/agencies/ <br /><b>GET</b> /api/agencies/{id-here} <br /><b>POST</b> /api/agencies/ with JSON Object</p>
        <p><b>Remember : token in Authorization Header</b><br />except for <b>GET</b> /api/agencies/ you can call it with or without authorization header (dropdown list for agencies select)</p>
    </div>
    <div class="col-sm-4">
        <h3>Account</h3>
        <p>What you can do : <br /><b>Log In</b> : <br /><b>POST</b> /api/login with JSON Object Email and Password only<br /><b>Register User: </b><br /><b>POST</b> /api/register with JSON UserModel Object</p>
    </div>
</div>


<hr class="half-rule">

<p class="lead">Hosted on Azure.</p>


