<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://connext2.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>connext2.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Connext2</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Connext2</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="connext_dbEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:connext.database.windows.net,1433;Initial Catalog=connext_db;Integrated Security=False;User ID=insahardis@connext;Password=H@rdis2015!;Connect Timeout=30;Encrypt=True;Application Name=EntityFramework" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ConnextBusinessLayer.Bdd.connext_dbEntities, ConnextBusinessLayer" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)connext_dbEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Bdd.ConnextEntity.csdl|res://*/Bdd.ConnextEntity.ssdl|res://*/Bdd.ConnextEntity.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:connext.database.windows.net,1433;Initial Catalog=connext_db;Integrated Security=False;User ID=insahardis@connext;Password=H@rdis2015!;Connect Timeout=30;Encrypt=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>